* {
    padding: 0;
    margin: 0;
}

#myCanvas {
    background: rgb(213, 238, 238);
    display: block;
    margin: 0 auto;
}

.vertical_center {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}